<!DOCTYPE html>
<html>
<head>

	<title>Relative positioning of geospatial data</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

	<style>
		#map {
			width: 1500px;
			height: 1200px;
		}
	</style>


</head>
<body>

<div id='map'></div>



<script>

    'use strict'

    var start_scale = 15;
	var map = L.map('map').setView([62.32, 16.53], start_scale);
	var scale_denominator = GetScaleDenominator();
	var thematic_layer;
    $('#map').css('width', window.innerWidth);
    $('#map').css('height', window.height);
	L.tileLayer.wms('{the WMS URL here}', {
	    layers:'topowebbkartan'

	}).addTo(map);// for topographic maps

	L.tileLayer.wms('{the WMS URL here}', {
	    layers:'granser_kvalitet',
        transparent: 'true',
        format: 'image/png'

	}).addTo(map);// for cadastral maps
    L.control.scale().addTo(map);


    var GeoJsonStyle = function (feature) {
        return {
            color: '#5642f4',
            weight: 2,
            fillOpacity: 0.15,
            fillColor: '#d941f4',
        }
    }

    $.get('/',{zoom_scale : scale_denominator},
                function (data, textStatus)
                {
                    var thematic_geojson_layer = L.geoJson(JSON.parse(data), {
                        style: GeoJsonStyle,
                        onEachFeature: onEachFeature});

                    thematic_geojson_layer.addTo(map);
                    thematic_layer = thematic_geojson_layer;
                    console.log(scale_denominator)
                }
            )

    map.on('zoom ', function (evt) {
        thematic_layer.remove();
        var scale_denominator = GetScaleDenominator();
        console.log(scale_denominator)
        console.log(evt.target._zoom)

        $.get('/',{zoom_scale : scale_denominator},
        function (data, textStatus) {

            thematic_layer = L.geoJson(JSON.parse(data),
                {
                    style: GeoJsonStyle
                });
            thematic_layer.addTo(map)


        })
    })

    function GetScaleDenominator () {
{#        get the metre per pixel #}
        var y = map.getSize().y,
            x = map.getSize().x;
        var maxMeters = map.containerPointToLatLng([0, y])
                        .distanceTo( map.containerPointToLatLng([x,y]));
        var MeterPerPixel = maxMeters/x ;
        {#        get the dpi #}


        var ScaleDenpminator = MeterPerPixel * get_dpi()[0] /  0.0254;
        return ScaleDenpminator;
    }
    function get_dpi (){
        var arrDPI = new Array();
        if (window.screen.deviceXDPI != undefined) {
            arrDPI[0] = window.screen.deviceXDPI;
            arrDPI[1] = window.screen.deviceYDPI;
                }
        else {
			  arrDPI[0] = 25.4/0.28;
              arrDPI[1] = 25.4/0.28;
			  }

        return arrDPI;
                    }

	function onEachFeature(feature, layer) {

		if (feature.properties) {
		    console.log(feature.properties)
			layer.bindPopup(JSON.stringify(feature.properties));
		}
	}

	var resized = function () {
        $('#map').css('width', window.innerWidth);
        $('#map').css('height', window.innerHeight);
    }

	$(window).on('resize',resized)

</script>

</body>
</html>